<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hebeu.mapper.VendorMapper">

    <resultMap id="VendorResultMap" type="com.hebeu.model.VendorModel">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="uname" jdbcType="VARCHAR" property="uname" />
        <result column="passwd" jdbcType="VARCHAR" property="passwd" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="phone" jdbcType="BIGINT" property="phone" />
        <result column="pic" jdbcType="LONGVARCHAR" property="pic" />
        <result column="admin" jdbcType="TINYINT" property="admin" />
    </resultMap>

    <select id="login" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM vendor
        WHERE uname = #{uname,jdbcType=VARCHAR}
          AND passwd = #{passwd,jdbcType=VARCHAR}
          AND `admin` = #{admin,jdbcType=TINYINT}
    </select>

    <select id="selectVendorAll" resultMap="VendorResultMap">
        SELECT *
        FROM vendor
    </select>

    <select id="selectVendorById" parameterType="java.lang.Integer" resultMap="VendorResultMap">
        SELECT *
        FROM vendor
        WHERE id = #{id,jdbcType=INTEGER}
    </select>

    <select id="find" parameterType="java.util.Map" resultMap="VendorResultMap">
        SELECT *
        FROM vendor
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="uname != null">
                AND uname = #{uname,jdbcType=VARCHAR}
            </if>
            <if test="passwd != null">
                AND passwd = #{passwd,jdbcType=VARCHAR}
            </if>
            <if test="name != null">
                AND `name` = #{name,jdbcType=VARCHAR}
            </if>
            <if test="phone != null">
                AND phone = #{phone,jdbcType=BIGINT}
            </if>
            <if test="pic != null">
                AND pic = #{pic,jdbcType=LONGVARCHAR}
            </if>
            <if test="admin != null">
                AND `admin` = #{admin,jdbcType=TINYINT}
            </if>
        </where>
    </select>

    <select id="search" parameterType="java.util.Map" resultMap="VendorResultMap">
        SELECT *
        FROM vendor
        <where>
            <if test="id != null">
                AND id LIKE CONCAT('%',#{id,jdbcType=INTEGER},'%')
            </if>
            <if test="uname != null">
                AND uname LIKE CONCAT('%',#{uname,jdbcType=VARCHAR},'%')
            </if>
            <if test="passwd != null">
                AND passwd LIKE CONCAT('%',#{passwd,jdbcType=VARCHAR},'%')
            </if>
            <if test="name != null">
                AND `name` LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="phone != null">
                AND phone LIKE CONCAT('%',#{phone,jdbcType=BIGINT},'%')
            </if>
            <if test="pic != null">
                AND pic LIKE CONCAT('%',#{pic,jdbcType=LONGVARCHAR},'%')
            </if>
            <if test="admin != null">
                AND `admin` LIKE CONCAT('%',#{admin,jdbcType=TINYINT},'%')
            </if>
        </where>
    </select>

    <insert id="insert" keyColumn="id" parameterType="java.util.Map" keyProperty="id">
        INSERT INTO vendor
            (id, uname, passwd, `name`, phone, pic, `admin`)
        VALUES(#{id,jdbcType=INTEGER}, #{uname,jdbcType=VARCHAR}, #{passwd,jdbcType=VARCHAR},
            #{name,jdbcType=VARCHAR}, #{phone,jdbcType=BIGINT},
            #{pic,jdbcType=LONGVARCHAR}, #{admin,jdbcType=TINYINT})
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE
        FROM vendor
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

    <update id="update" keyColumn="id" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
        UPDATE vendor
        <set>
            <if test="uname != null">
                uname = #{uname,jdbcType=VARCHAR},
            </if>
            <if test="passwd != null">
                passwd = #{passwd,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=BIGINT},
            </if>
            <if test="pic != null">
                pic = #{pic,jdbcType=LONGVARCHAR},
            </if>
            <if test="admin != null">
                `admin` = #{admin,jdbcType=TINYINT},
            </if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER};
    </update>
</mapper>