<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商城首页</title>
    <link rel="stylesheet" href="../../static/css/pintuer.css">
    <link rel="stylesheet" href="../../static/css/client/admin.css">
    <script src="../../static/js/jquery.js"></script>
    <script src="../../static/js/pintuer.js"></script>
    <script src="../../static/js/respond.js"></script>
</head>
<body>
<div id="content">
    <form method="post" action="" id="listform">
        <div class="panel admin-panel">
            <div class="padding border-bottom">
                <div id="tips"></div>
                <div class="text-center">
                    <ul class="search padding-left ">
                        <li>
                            <strong>查询条件：</strong>
                        </li>
                        <li>
                            名称：<input type="text" placeholder="请输入搜索关键字" name="sname" class="input margin-little-top"
                                      style="width:150px;display:inline-block"/>
                        </li>
                        <li>
                            价格区间：<input type="text" name="min" class="input margin-little-top" placeholder="最低价"
                                        style="width:60px;display:inline-block" data-validate="regexp#^([0-9]*)+(\.[0-9])?([0-9])?$:"/>&nbsp;元-
                            <input type="text" name="max" class="input margin-little-top" placeholder="最高价"
                                   style="width:60px;display:inline-block" data-validate="regexp#^([0-9]*)+(\.[0-9])?([0-9])?$:"/>&nbsp;元
                        </li>
                        <li>
                            排序方式：
                            <select name="sort" class="input" style="width:125px;display:inline-block">
                                <option value="0">默认排序</option>
                                <option value="1">价格升序</option>
                                <option value="2">价格降序</option>
                                <option value="3">销量升序</option>
                                <option value="4">销量降序</option>
                            </select>
                        </li>
                        <li>
                            每页显示：
                            <select name="count" class="input" style="width:125px;display:inline-block">
                                <option value="4">每页4条</option>
                                <option value="8" selected>每页8条</option>
                                <option value="12">每页12条</option>
                                <option value="16">每页16条</option>
                                <option value="">显示全部</option>
                            </select>
                        </li>
                        <li>
                            <button type="button" class="button border-main icon-search" id="query">
                                查询
                            </button>
                            <button type="button" class="button border-dot icon-trash-o" id="clean">
                                清空
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="line-small list-box" id="list">

            </div>
            <div class="padding border-bottom">
                <ul class="search padding-left padding-top">
                    <input name="page" value="1" hidden="hidden"/>
                    <div class="pagelist" id="pageList">

                    </div>
                </ul>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        var success = "<div class=\"form-group animated bounce\">\n" +
            "                    <div class=\"alert alert-green\">\n" +
            "                        <span class=\"close rotate-hover\"></span><strong>恭喜：</strong>操作成功。\n" +
            "                    </div>\n" +
            "                </div>";

        var failure = "<div class=\"form-group animated bounce\">\n" +
            "                                            <div class=\"alert alert-yellow\">\n" +
            "                                                <span class=\"close rotate-hover\"></span><strong>操作失败</strong>\n" +
            "                                                <p>\n" +
            "                                                    请重新操作。\n" +
            "                                                </p>\n" +
            "                                            </div>";

        var error = "<div class=\"form-group animated bounce\">\n" +
            "                                            <div class=\"alert alert-red\">\n" +
            "                                                <span class=\"close rotate-hover\"></span><strong>访问异常</strong>\n" +
            "                                                <p>\n" +
            "                                                    请稍后重试。\n" +
            "                                                </p>\n" +
            "                                            </div>";

        function getWarning(str) {
            return "<div class=\"form-group animated shake\">\n" +
                "                                            <div class=\"alert alert-yellow\">\n" +
                "                                                <span class=\"close rotate-hover\"></span><strong>注意：</strong>" + str + "\n" +
                "                                            </div>\n" +
                "                                        </div>";
        }

        function getTips(str) {
            return "<div class=\"form-group animated pulse\">\n" +
                "                                            <div class=\"alert alert-blue\">\n" +
                "                                                <span class=\"close rotate-hover\"></span><strong>提示：</strong>" + str + "\n" +
                "                                            </div>\n" +
                "                                        </div>";
        }

        queryList();

        //搜索
        function queryList(input) {
            var adata = {
                sname: $("input[name='sname']").val(),
                min: $("input[name='min']").val(),
                max: $("input[name='max']").val(),
                sort: $("select[name='sort']").val(),
                count: $("select[name='count']").val(),
                page: $("input[name='page']").val(),
                off: 1,
                num: 0,
            };
            var data = JSON.stringify(adata);
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: data,
                async: false,
                url: window.location.origin + "/Jinops/goods/query",
                success: function (data) {
                    if (data.code === 0) {
                        $("#list").empty();
                        for (var i = data.data.goods.length - 1; i >= 0; i--) {
                            var str = "<div class=\"xl6 xs4 xm3 xb3\">\n" +
                                "           <div class=\"media padding-bottom margin border radius clearfix\">" +
                                "               <a href=\"add.html?id="+data.data.goods[i].id+"\">\n" +
                                "                   <img src=\""+data.data.goods[i].pic+"\" class=\"radius img-responsive\" style=\"width: 100%;object-fit: cover;\">\n" +
                                "               </a>\n" +
                                "               <blockquote style='backdrop-filter: blur(16px)'>\n" +
                                "                   <div class=\"media-body padding\">\n" +
                                "                       <h3 class='text-sub'>"+data.data.goods[i].name+"</h3>\n" +
                                "                       <strong>¥ "+data.data.goods[i].price.toFixed(2)+"</strong>" +
                                "                       库存&nbsp;"+data.data.goods[i].num+"&nbsp;&nbsp;已卖出&nbsp;"+data.data.goods[i].sold+"\n"+
                                "                   </div>\n" +
                                "               </blockquote>\n" +
                                "            </div>\n" +
                                "        </div>";
                            $("#list").prepend(str);
                        }
                        $("#pageList").empty();
                        var str="";
                        if(data.data.page>1) {
                            str +=  "<div class=\"button-group\">\n" +
                                "                <button type=\"button\" class=\"button border-sub\" name=\"firstPage\">\n" +
                                "                    首页\n" +
                                "                </button>\n" +
                                "                <button type=\"button\" class=\"button border-sub\" name=\"prevPage\">\n" +
                                "                    上一页\n" +
                                "                </button>\n" +
                                "           </div>\n";
                        }else{
                            str +=  "<div class=\"button-group\">\n" +
                                "                <button type=\"button\" class=\"button border-sub\"" +
                                "                       name=\"firstPage\" disabled=\"disabled\">\n" +
                                "                    首页\n" +
                                "                </button>\n" +
                                "                <button type=\"button\" class=\"button border-sub\"" +
                                "                       name=\"prevPage\" disabled=\"disabled\">\n" +
                                "                    上一页\n" +
                                "                </button>\n" +
                                "           </div>\n";
                        }
                        str+= "         <div class=\"button-group\">\n" +
                            "                <button type=\"button\" class=\"button bg-sub\" name=\"thisPage\">\n" +
                            "                    <input name=\"page\" hidden=\"hidden\" value='"+data.data.page+"'/>\n" +
                            "                    <input name=\"totalPage\" hidden=\"hidden\" value='"+data.data.totalPage+"'/>\n" +
                            "                    第"+data.data.page+"页,共"+data.data.totalPage+"页\n" +
                            "                </button>\n" +
                            "           </div>\n";
                        if(data.data.page<data.data.totalPage){
                            str+= "         <div class=\"button-group\">\n" +
                                "                <button type=\"button\" class=\"button border-sub\" name=\"nextPage\">\n" +
                                "                    下一页\n" +
                                "                </button>\n" +
                                "                <button type=\"button\" class=\"button border-sub\" name=\"lastPage\">\n" +
                                "                    尾页\n" +
                                "                </button>\n" +
                                "           </div>\n";
                        }else{
                            str+= "         <div class=\"button-group\">\n" +
                                "                <button type=\"button\" class=\"button border-sub\"" +
                                "                        name=\"nextPage\" disabled=\"disabled\">\n" +
                                "                    下一页\n" +
                                "                </button>\n" +
                                "                <button type=\"button\" class=\"button border-sub\"" +
                                "                        name=\"lastPage\" disabled=\"disabled\">\n" +
                                "                    尾页\n" +
                                "                </button>\n" +
                                "           </div>\n";
                        }
                        $("#pageList").prepend(str);
                        $("input[name='page']").val(data.data.page);

                        //跳转到首页
                        $("button[name='firstPage']").on("click",function (){
                            $("input[name='page']").val(1);
                            queryList();
                        })

                        //跳转到上一页
                        $("button[name='prevPage']").on("click",function (){
                            $("input[name='page']").val(parseInt($("input[name='page']").val())-1);
                            queryList();
                        })

                        //上一页
                        $("button[name='prev']").on("click",function (){
                            $("input[name='page']").val(parseInt($("input[name='page']").val())-1);
                            queryList();
                        })

                        //下一页
                        $("button[name='next']").on("click",function (){
                            $("input[name='page']").val(parseInt($("input[name='page']").val())+1);
                            queryList();
                        })

                        //跳转到下一页
                        $("button[name='nextPage']").on("click",function (){
                            $("input[name='page']").val(parseInt($("input[name='page']").val())+1);
                            queryList();
                        })

                        //跳转到尾页
                        $("button[name='lastPage']").on("click",function (){
                            $("input[name='page']").val(parseInt($("input[name='totalPage']").val()));
                            queryList();
                        })
                    }
                    if (data.code === -404) {
                        $("#list").empty();
                        $("#pageList").empty();
                        window.scrollTo('0', '0');
                        $("#tips").html(getWarning("暂未找到商品数据")).on("click", ".close", function () {
                            $(this).parent().parent().remove();
                        });
                    }
                    if (data.code === -1) {
                        window.scrollTo('0', '0');
                        $("#tips").html(failure).on("click", ".close", function () {
                            $(this).parent().parent().remove();
                        });
                    }
                },
                error: function (e) {
                    console.log(e);
                    window.scrollTo('0', '0');
                    $("#tips").html(error).on("click", ".close", function () {
                        $(this).parent().parent().remove();
                    });
                }
            })
        }

        //删除
        function del(id) {
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                async: false,
                url: window.location.origin + "/Jinops/goods/delete/" + id,
                success: function (data) {
                    if (data.code === 0) {
                        $("input[name='id[]']").each(function () {
                            if (this.value === id) {
                                $(this).parent().parent().remove();
                            }
                        });
                        window.scrollTo('0', '0');
                        $("#tips").html(success).on("click", ".close", function () {
                            $(this).parent().parent().remove();
                        });
                    }
                    if (data.code === -404) {
                        window.scrollTo('0', '0');
                        $("#tips").html(getWarning("删除的商品不存在")).on("click", ".close", function () {
                            $(this).parent().parent().remove();
                        });
                    }
                    if (data.code === -1) {
                        window.scrollTo('0', '0');
                        $("#tips").html(failure).on("click", ".close", function () {
                            $(this).parent().parent().remove();
                        });
                    }
                },
                error: function (e) {
                    console.log(e);
                    window.scrollTo('0', '0');
                    $("#tips").html(error).on("click", ".close", function () {
                        $(this).parent().parent().remove();
                    });
                }
            })
        }

        //查询
        $("#query").click(function () {
            $("input[name='page']").val(1);
            queryList(1);
        })

        //清空
        $("#clean").click(function () {
            if (confirm("您确定要清空所有查询的条件吗？")) {
                $("input[name='sname']").val("");
                $("input[name='min']").val("");
                $("input[name='max']").val("");
                $("select[name='sort']").val("0");
                $("select[name='count']").val("8");
                queryList(1);
            }
        })

        //全选
        $("#checkall").click(function () {
            $("input[name='id[]']").each(function () {
                this.checked = true;
            });
        })

        //全不选
        $("#checknone").click(function () {
            $("input[name='id[]']").each(function () {
                this.checked = false;
            });
        })

        //反选
        $("#inverse").click(function () {
            $("input[name='id[]']").each(function () {
                if (this.checked) {
                    this.checked = false;
                } else {
                    this.checked = true;
                }
            });
        })


    })

</script>
</body>
</html>
