<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>客户注册</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="../../static/css/pintuer.css">
    <link rel="stylesheet" href="../../static/css/client/admin.css">
    <script src="../../static/js/jquery.js"></script>
    <script src="../../static/js/pintuer.js"></script>
    <script src="../../static/js/respond.js"></script>
    <script src="../../static/js/md5.js"></script>
    <script src="../../static/js/client/admin.js"></script>
</head>
<body style="background: url('../../static/images/bg.jpg')">
<div class="container">
    <div class="line bouncein">
        <div class="xs6 xm4 xs3-move xm4-move">
            <div class="media media-y margin-big-bottom">
            </div>
            <form id="registerForm" action="javascript:register()" method="post">
                <div class="panel loginbox" style="backdrop-filter: blur(16px);translateY(-50%);">
                    <div class="text-center padding-large-top padding-bottom"><h1>客户注册</h1></div>
                    <div class="panel-body padding-large-left padding-large-right">
                        <div id="tips">
                            <script>
                                window.scrollTo('0','0');
                                $("#tips").html(getTips("右侧有输入内容格式要求")).on("click",".close",function(){
                                    $(this).parent().parent().remove();
                                });
                            </script>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <span class="float-right tips" data-toggle="hover" data-place="left" title="用户名需输入英文字母开头的字母、下划线、数字，长度限制为6-16位">
                                    ❗
                                </span>
                                <label>用户名</label>
                            </div>
                            <div class="field field-icon">
                                <span class="icon icon-user margin-small"></span>
                                <input type="text" class="input input-big" name="username" size="30"
                                       placeholder="请输入用户名"
                                       data-validate="required:需填写的用户名不能为空,username:需要输入英文字母开头的字母、下划线、数字,length#>=6:用户名的长度不能少于6位,length#<=16:用户名的长度不能多于16位"/>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="label">
                                <span class="float-right tips" data-toggle="hover" data-place="left" title="特殊字符包括 ! @ $ % * ( ) _ + ^ & } { ; ? .">
                                    ❗
                                </span>
                                <span class="float-right tips" data-toggle="hover" data-place="left" title="密码需至少包含一个英文字母、数字和特殊字符，长度限制为6-16位">
                                    ❗
                                </span>
                                <label>密码</label>
                            </div>
                            <div class="field field-icon">
                                <span class="icon icon-key margin-small"></span>
                                <input type="password" class="input input-big" name="password" size="30"
                                       placeholder="请输入密码"
                                       data-validate="required:需填写的密码不能为空,regexp#^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@$%*()_+^&}{;?.]).+$:需要输入至少一个英文字母、数字和特殊字符,length#>=6:密码的长度不能少于6位,length#<=16:密码的长度不能多于16位"/>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="label">
                                <span class="float-right tips" data-toggle="hover" data-place="left" title="确认密码需与上方输入的密码相同">
                                    ❗
                                </span>
                                <label>确认密码</label>
                            </div>
                            <div class="field field-icon">
                                <span class="icon icon-key margin-small">
                                    <span class="icon icon-key margin-small"></span>
                                </span>
                                <input type="password" class="input input-big" name="queryPwd" size="30"
                                       placeholder="请再次输入密码"
                                       data-validate="required:需填写的确认密码不能为空,repeat#password:两次输入的密码不一致"/>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="label">
                                <span class="float-right tips" data-toggle="hover" data-place="left" title="验证码不区分大小写">
                                    ❗
                                </span>
                                <label>
                                    验证码</label>
                            </div>
                            <div class="field">
                                <div class="input-group">
                                    <div class="field field-icon">
                                        <span class="icon icon-check-circle-o margin-small"></span>
                                        <input type="text" class="input input-big" name="code" size="50"
                                               placeholder="请输入验证码"
                                               data-validate="required:需填写的验证码不能为空,regexp#^[A-Za-z0-9]+$:验证码仅包含英文字母和数字,length#==4:请输入4位长度的验证码"/>
                                        <span class="addbtn">
                                            <img id="image" alt="验证码" title="点击刷新" width="100" height="32"
                                                 class="passcode" style="height:43px;cursor:pointer;"
                                                 onclick="getValCode();">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="padding-large-left padding-large-right padding-big-bottom">
                        <p class="text-default float-left">
                            <span>填写有误?</span>
                            <a class="form-reset">点击重置</a>
                        </p>
                        <p class="text-default float-right">
                            <span>已有账号?</span>
                            <a
                                    href="javascript:gotoLog();">返回登录</a>
                        </p>
                    </div>
                    <div class="padding-large">
                        <input id="submit" type="submit" class="button button-block bg-main text-big input-big"
                               value="注册"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>